<div class="bg-gray-800 text-white py-3 fixed bottom-0 left-0 w-full">
  <div class="container mx-auto px-4">
    <p class="text-center">&copy; All Rights Reserved</p>
    <footer class="text-center">
      <cite class="text-gray-400" title="Source Title">Pranesh Aditya S</cite>
    </footer>
  </div>
</div>